@import '../../../../app.component.scss';
.topic-list{
    #domestic{
        &.mat-list-base{
            .mat-list-option{
                height: 40px;
                &.mat-list-single-selected-option{
                    border-left: 5px solid $dark_green;
                    background-color: #fff !important;
                    font-weight: bold;
                }
            }
        }    
    }
    #searchItem{
        &.mat-list-base{
            .mat-list-option{
                height: 30px;
                color: $dark_green;
                font-size: 15px;
                &.mat-list-single-selected-option{
                    background-color: #fff !important;
                }
            }
        }   
    }
    #category{
        &.mat-list-base{
            .mat-list-option{
                height: 40px;
                color: $dark_green;
                font-size: 15px;
                &.mat-list-single-selected-option{
                    background-color: #fff !important;
                }
            }
        }   
    }
}