<div class="job-modal border-grey-5" [ngClass]="{'opened': isOpenjobModal}">
    <div class="modal-header d-flex">
        <a (click)="closeJobModal()">
            <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">keyboard_arrow_left</mat-icon>
        </a>
        <a (click)="closeJobModal()">
            <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">open_in_new</mat-icon>
            Open job in a new window
        </a>
    </div>
    <div class="modal-body border-grey-5">
        <div class="row">
            <div class="col-md-8 border-right">
                <h1>{{job.title}}</h1>
                <span>{{job.postedTime}}</span>
                <div class="job-summary">
                    <p>{{job.summary}}</p>
                </div>
                <div class="line"></div>
                <div class="mt-4 mb-2 d-flex">
                    <mat-icon class="mr-2 ml-2" aria-hidden="false" aria-label="Example thumbs up SVG icon">alarm</mat-icon>
                    <p class="l-h-24 font-weight-bold mr-3">{{job.estimatedShift}}</p>   
                    <mat-icon class="mr-2 ml-2" aria-hidden="false" aria-label="Example thumbs up SVG icon">calendar_today</mat-icon>
                    <p class="l-h-24 font-weight-bold mr-3">{{job.projectLength}}</p>    
                    <mat-icon class="mr-2 ml-2" aria-hidden="false" aria-label="Example thumbs up SVG icon">face</mat-icon>
                    <p class="l-h-24 font-weight-bold mr-3">{{job.expertLevel}}</p>  
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-success mb-4">Submit a Proposal</a>
                <a class="btn btn-success text-center">
                    <p> Save Job</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isOpenjobModal" class="job-modal-background" (click)="closeJobModal()">

</div>