@import '../../../../../app.component.scss';
.job-modal{
    background-color: $bg-color;
    position: fixed;
    width: 70.7%;
    height: 100vh;
    top: 0;
    right: -1500px;
    transition: right 0.1s ease-in;
    -webkit-transition: right 0.1s ease-in;
    -moz-transition: right 0.1s ease-in;
    -ms-transition: right 0.1s ease-in;
    z-index: 10;
    &.opened{
        right: 0px;
    }
    .modal-header{
        background-color: #fff;
        a{
            cursor: pointer;
            color: $dark_green;
        }
    }
    .modal-body{
        margin-right: 320px;
        margin-top: 33px;
        margin-left: 27px;
        background-color: #fff;
        .btn{
            height: 45px;
            padding: 10px;
            width: 74%;
            font-weight: bold;
            mat-icon{
                flex: 0.6
            }
        }
    }
}
.job-modal-background{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}